# backup files
*~

# files being edited
\#*\#

# lock files
.\#*

# elpa packages
elpa/

# transient keymappings from magit
transient/

# cache
.cache/

# language server session data
.lsp-session-v1

# debugging breakpoints
.dap-breakpoints

# desktop save state
*.desktop
*.desktop.lock

# projectile files
*.eld

# ignore recent changes
recentf

# flycheck temporary file
flycheck_init.el

# dap-chrome
url

# dap-chrome dependencies
.extension/
