# backup files
*~

# files being edited
\#*\#

# lock files
.\#*

# elpa packages
elpa/

# transient keymappings from magit
transient/

# cache
.cache/

# language server session data
.lsp-session-v1

# debugging breakpoints
.dap-breakpoints